<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css"   href="../css/footer.css"/>
        <title>Document</title>
    </head>
    <body>
        <footer class="footer">
            <div  style="margin: auto;">         
            <i class="fa-solid fa-phone"></i>
            <p class="">Línea de atención al cliente : +57 320 8757949 | empresarokuz@gmail.com <br> Redes: @rokuzjeans</p>
        </div>   
        
    </footer>
</body>
</html>