<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/img/rokuz-removebg-preview.png">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
     {{>nav}}
     <div class="barra">
            <div class="container">

                <div class="row">
                    <center>    
                        <font >Nuestra historia</font>
                    </center> 
         
                </div>

            </div>
        </div>
    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="contenido-hero">
                    </div>

                </div>
            </div>

        </div>

    </div>
 
<div class="barra">
        <div class="container">
            <div class="row">   
            </div>
        </div>
</div>
<div align="left">
    <br><font color="black" size="4px" face="times new roman" > <table></table>   <tr>
       Había una vez una fábrica de jeans llamada <em>"Rokuz Jeans"</em>, ubicada en la ciudad de Cucuta. La fábrica era conocida por su pasión por la calidad y la atención meticulosa a los detalles en cada uno de los jeans que producía. Estaba dirigida por dos hermanos, Carlos y Marta, quienes heredaron el amor por la confección de su abuelo.
       <br>
       <br>
       Carlos y Marta se propusieron llevar su negocio al siguiente nivel y decidieron abrir una tienda virtual para llegar a un público más amplio. Con su experiencia en la fabricación y una visión clara de la moda, establecieron <em>"Rokuz Jeans"</em>, una tienda virtual que ofrecía sus jeans de alta calidad directamente a los clientes en todo el mundo.
       <br>
       <br>
       La tienda virtual de <em>"Rokuz Jeans"</em> se convirtió rápidamente en un éxito. A traves de puclicaciones en las redes sociales,con diseños que reflejaban la estética moderna de la marca. Los clientes podían explorar una amplia gama de estilos, desde los clásicos jeans de mezclilla hasta los más modernos diseños con detalles únicos.
       <br>
       <br>
       La fábrica de <em>Rokuz Jeans</em> era el corazón de la empresa. Allí, empleados expertos y apasionados trabajaban en la creación de los jeans. Desde el corte de la tela hasta el cosido final, cada par de jeans pasaba por rigurosos controles de calidad para garantizar que cumpliera con los altos estándares de <em>Rokuz Jeans</em>.
       <br>
       <br>
       El proceso de fabricación se llevaba a cabo de manera ética y sostenible. <em>Rokuz Jeans</em> se aseguraba de utilizar materiales de alta calidad y adoptar prácticas respetuosas con el medio ambiente en cada etapa de producción. Carlos y Marta creían en la importancia de cuidar el planeta mientras creaban productos duraderos y elegantes.
       <br>
       <br>
       La tienda virtual de <em>Rokuz Jeans</em> ofrecía una experiencia de compra única, con atencion personalizada, ya que cada compra se llevaba a cabo con un asesor, para asi brindarle la mejor experiencia e intentar cubrir cualquier necesidad o dudas del cliente, respecto a nuestra marca, calidad del material, medio de entrega y diferentes diseños disponibles.
       <br>
        <br>

       La entrega de los productos era rápida y eficiente, y <em>Rokuz Jeans</em> se enorgullecía de ofrecer un excelente servicio al cliente.
       <br>
       <br>
       Con el tiempo, <em>Rokuz Jeans</em> Online se convirtió en una marca reconocida en el mundo de la moda. Los jeans de alta calidad y estilo atemporal de la empresa se convirtieron en un elemento básico en los armarios de personas de todo el mundo. Carlos y Marta estaban orgullosos de haber creado una empresa exitosa que combinaba la tradición artesanal con la innovación digital.
       <br>
       <br>
        Y así, la historia de <em>Rokuz Jeans</em> continúa, dejando una huella duradera en la industria de la moda con su fábrica de jeans de calidad y su tienda virtual que brinda una experiencia de compra excepcional.
       

        
    </font></tr></table>  

    
       
</div>
<a href="https://wa.me/573208757949" Target="_blank">
        <font><br><br><b><img src="public/img/wp.gif" alt="" width="10%" height="12%" align="left" /> <br></b></font>
    </a>
     {{>footer}}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>