<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-toggler">
            <a class="navbar-brand" href="#">
                <img src="../img/rokuz-removebg-preview.png" width="100" alt="Logo de la empresa"></a>
                 
                <ul class="navbar-nav d-flex justify-content-center align-items-center">
                  <li class="nav-item">
                    <a class="nav-link active"  href='/'>Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active"  href='/historia'>Nuestra historia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href='/quienes_somos'>¿Quienes somos?</a>
                  </li>

               
                 </ul>

          </div>
        </div>
      </nav>
      



</body>
</html>